.header {
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
  border-bottom: 0.01em solid #cccccc;
  position: fixed;
  box-sizing: border-box;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
}
.logo-link {
  display: flex;
  align-items: center;
}
.logo-header {
  width: 3rem;
  margin: 0 0.3rem;
}
.headerBranding a:hover {
  color: inherit;
}
.headerBranding a:after {
  display: none;
}
@media only screen and (max-width: 450px) {
  .header-wrapper {
    flex-flow: column;
  }
}
